[tool.poetry]
name = "webpub_manifest_parser"
version = "0.0.3"
description = "A parser for the Readium Web Publication Manifest and OPDS 2.0 formats."
license = "Apache-2.0"
authors = ["Leonard Richardson <leonardr@segfault.org>"]
maintainers = ["Viacheslav Bessonov <viacheslav.bessonov@hilbertteam.com>"]
readme = "README.md"
repository = "https://github.com/NYPL-Simplified/python-webpub-manifest-parser"
homepage = "https://github.com/NYPL-Simplified/python-webpub-manifest-parser"
keywords = ["Readium Web Publication Manifest", "RWPM", "Open Publication Distribution System 2.0", "OPDS 2.0"]
classifiers = [
    "Intended Audience :: Developers",
    "License :: OSI Approved :: Apache Software License",
    "Operating System :: OS Independent",
    "Programming Language :: Python",
    "Programming Language :: Python :: 2.7",
    "Programming Language :: Python :: 3.6",
    "Programming Language :: Python :: Implementation :: CPython",
    "Topic :: Software Development :: Libraries :: Python Modules",
]

[tool.poetry.dependencies]
python = ">=2.7, !=3.0.*, !=3.1.*, !=3.2.*, !=3.3.*, !=3.4.*"
multipledispatch = "^0.6.0"
enum34 = "^1.1.10"
jsonschema = "^3.2.0"
strict-rfc3339 = "^0.7"
rfc3987 = "^1.3.8"
pyrsistent = "0.16.1"
uritemplate = "^3.0.1"

[tool.poetry.dev-dependencies]
pyfakefs = "3.7"
parameterized = "^0.7.4"
nose = "^1.3.7"
nose-timer = "^1.0.0"
tox = "^3.20.0"
tox-pyenv = "^1.1.0"
mock = "3.0.5"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
